<% url = params[:action] == "new" ? admin_event_organizers_path : admin_event_organizer_path %>

<div class="w300">
	<%= simple_form_for [:admin, @organizer], url: url do |f| %>
		<%= hidden_field_tag :organizer_group_id, params[:organizer_group_id] if params[:action] == "new" %>
		<% @errors = @organizer.errors.messages %>

		<%= f.input :photo, label: "프로필 사진", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:photo) %>
		<br>
		<%= f.input :name, label: "이름", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:name) %>
		<br>
		<%= f.input :name_en, label: "영문 이름", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:name_en) %>
		<br>
		<%= f.input :link, label: "링크", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:link) %>
		<br>
		<% unless params[:action] == "new" %>
			<%= f.input :organizer_group_id, collection: Event.find(params[:event_id]).organizer_groups, label: "그룹", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
			<% flash_error_message(:role) %>
			<br>
		<% end %>
		<%= f.input :position, label: "순서", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:position) %>
		<br>
		<% if params[:action] == "edit" %>
			<%= link_to '오거나이저 삭제', admin_event_organizer_path(@organizer.event, @organizer), method: :delete, data: { confirm: "잘못 누른게 아니라면 삭제합니다."}, class: "btn btn-danger w100p tac" %>
		<% end %>
		<hr>
		<%= render "/admin/events/form_confirm_or_cancel" %>
	<% end %>
</div>