<%= javascript_include_tag "epiceditor.min" %>

<%= "미완성" %>
<div class="w300">
	<%= simple_form_for [:admin, @post] do |f| %>
		<% @errors = @post.errors.messages %>
		<%= f.hidden_field :user_id, value: current_user.id %>
		<%= f.hidden_field :body %>

		<a id="save">저장</a>
		<a id="load">불러오기</a>
		<div id="epiceditor"></div>
		<br>
		<%= f.input :title, label: "제목", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:title) %>
		<% flash_error_message(:body) %>
		<br>
		<%= f.input :subject_id, label: "주제", label_html: { class: "fwb" }, error: false, :collection => Subject.all.map { |s| [s.name, s.id] }, input_html: { class: "form-control", onChange: "javascript:reloadParentCategory(this.value)"} %>
		<% flash_error_message(:subject_id) %>
		<script type="text/javascript" charset="utf-8">
		function reloadParentCategory(value) {
			console.log(value)
			$.ajax('../reload_parent_category?subject=' + value)
		}
		</script>
		<br>
		<%= f.input :category_id, label: "분류", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false, :collection => Category.category_roles.order(:position).map { |s| [s.name, s.id] }.reject{ |a,i| i == @post.category_id} %>
		<% flash_error_message(:parent_id) %>
		<br>
		<%= f.input :view_type, label: "뷰타입", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false, collection: Category::VIEW_TYPE %>
		<% flash_error_message(:view_type) %>
		<br>
		<%= render "/shared/form_confirm_or_cancel" %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
setTimeout(function(){
	console.log(2)
	var opts = {
	  container: 'epiceditor',
	  textarea: 'post_body',
	  basePath: '<%= asset_path('assets') %>',
	  clientSideStorage: true,
	  localStorageName: 'epiceditor',
	  useNativeFullscreen: false,
	  parser: marked,
	  file: {
	    name: 'editor_u<%= current_user.id %>_p<%= params[:action] == "edit" ? @post.id : Post.last.id + 1 %>',
	    defaultContent: '내용',
	    autoSave: 100
	  },
	  theme: {
	    base: '/base/epiceditor.css',
	    preview: '/preview/github.css',
	    editor: '/editor/epic-light.css'
	  },
	  button: {
	    preview: true,
	    fullscreen: true,
	    bar: "auto"
	  },
	  focusOnLoad: false,
	  shortcut: {
	    modifier: 18,
	    fullscreen: 70,
	    preview: 80
	  },
	  string: {
	    togglePreview: 'Toggle Preview Mode',
	    toggleEdit: 'Toggle Edit Mode',
	    toggleFullscreen: 'Enter Fullscreen'
	  },
	  autogrow: false
	}
	var editor = new EpicEditor(opts);

	editor.load(function () {
	  console.log("Editor loaded.")
	});

	var files = editor.getFiles();
	for (x in files) {
	  console.log('File: ' + x); //Returns the name of each file
	};
	
	$('#save').click(function(){
	  editor.save();
		console.log("saved.");
	});

	$('#list').click(function(){
		var files = editor.getFiles();
		for (x in files) {
		  console.log('File: ' + x); //Returns the name of each file
		};
	});
	
	$('#load').click(function(){
		editor.open('editor_u<%= current_user.id %>_p<%= params[:action] == "edit" ? @post.id : Post.last.id + 1 %>'); 
		console.log('loded');
	});
	
},100);
</script>