<div class="w300">
	<%= simple_form_for [:admin, @event] do |f| %>
		<% @errors = @event.errors.messages %>

		<%= f.input :title, label: "행사 제목", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:title) %>
		<br>
		<%= f.input :poster, label: "행사 포스터", label_html: { class: "fwb" }, input_html: { class: "form-control" }, error: false %>
		<% flash_error_message(:poster) %>
		<br>
		<%= f.label :starts_at, "행사 시작일" %>
		<input type="text" id="event_starts_at" name="event[starts_at]" class="w150 string form-control" value="<%= 8.days.ago.to_date %>">
		<% flash_error_message(:starts_at) %>
		<br>
		<%= f.label :ends_at, "행사 종료일" %>
		<input type="text" id="event_ends_at" name="event[ends_at]" class="w150 string form-control" value="<%= Date.yesterday %>">
		<% flash_error_message(:ends_at) %>
		<script>
		$(function() {
		    $( "#event_starts_at" ).datepicker({
					dateFormat: "yy-mm-dd",
		      defaultDate: "-1w -1d",
		      changeMonth: true,
		      onClose: function( selectedDate ) {
		        $( "#event_starts_at" ).datepicker( "option", selectedDate );
		      }
		    });
		    $( "#event_ends_at" ).datepicker({
					dateFormat: "yy-mm-dd",
			    defaultDate: "-1",
		      changeMonth: true,
		      onClose: function( selectedDate ) {
		        $( "#event_ends_at" ).datepicker( "option", selectedDate );
		      }
		    });
		  });
		</script>
		<br>
		<%= f.input :position, label: "정렬 순서", label_html: { class: "fwb" }, input_html: { class: "w75 form-control" }, error: false %>
		<% flash_error_message(:position) %>
		<hr>
		<%= render "/shared/form_confirm_or_cancel" %>
	<% end %>
</div>