<div class="w100p">
	<h1>총 <%= content_tag :span, Event.count, :class => "font-important" %>건의 행사</h1>
	<hr>
</div>

<ul class="events">
  <% @events.each do |event| %>
	<li class="event tac">
		<div class="completed"></div>
		<%= link_to admin_event_path(event) do %>
		<%= image_tag(event.poster.url(:w240)) %>
		<br>
		<h4><%= event.title %></h4>
		<%= hdate(event.starts_at, "/") %> ~ <%= hdate(event.ends_at, "/") %><br>
		조회수 : <%= event.view_count %><br>
		<% end %>
	</li>
	<% end %>
</ul>

<hr>
<%= link_to new_admin_event_path, :class => "btn btn-success fr" do %>
	<span class="glyphicon glyphicon-plus"></span> 새 행사 시작하기
<% end %>