<%= stylesheet_link_tag "admin", :media => "all" %>
<div id="login">
	<div class="wrapper">
		<%= image_tag "back.png" %>
		<h1>로그인</h1>
		<%= form_tag "/admin/login", class: "form-horizontal" do %>
			<%= text_field_tag :email, params[:email], placeholder: "메일주소", class: "form-control w250 m0auto" %>
	    <%= password_field_tag :password, nil, placeholder: "비밀번호", class: "form-control w250 m0auto mt10" %>
		  <%= submit_tag "로그인", class: "admin_login btn btn-large btn-success w250 mt10" %>
			<% if msg = flash[:alert] %>
			  <%= content_tag :div, msg, :class => "error mt10" %>
			<% end %>
		<% end %>
	</div>
</div>
<%= link_to("ff", auth_at_provider_path(provider: provider), :class => "sns_login_#{provider} #{provider}") %>