<div class="history index">
	<ul class="events">
		<li class="event">
			<div class="centering">
				<a class="title" href="<%= history_4_path %>">THE 4TH<br>UX CAMP SEOUL<br>2013</a>
			</div>
			<div class="shade"></div>
			<%= image_tag("/images/history/banner4cover.png", class: "cover") %>
			<%= image_tag("/images/history/banner4.png", class: "banner") %>
		</li>
		<li class="event">
			<div class="centering">
				<a class="title" href="<%= history_3_path %>">THE 3RD<br>UX CAMP SEOUL<br>2012</a>
			</div>
			<div class="shade"></div>
			<%= image_tag("/images/history/banner3cover.png", class: "cover") %>
			<%= image_tag("/images/history/banner3.png", class: "banner") %>
		</li>
		<li class="event">
			<div class="centering">
				<a class="title" href="<%= history_2_path %>">THE 2ND<br>UX CAMP SEOUL<br>2011</a>
			</div>
			<div class="shade"></div>
			<%= image_tag("/images/history/banner2cover.png", class: "cover") %>
			<%= image_tag("/images/history/banner2.png", class: "banner") %>
		</li>
		<li class="event">
			<div class="centering">
				<a class="title" href="<%= history_1_path %>">THE 1ST<br>UX CAMP SEOUL<br>2010</a>
			</div>
			<div class="shade"></div>
			<%= image_tag("/images/history/banner1cover.png", class: "cover") %>
			<%= image_tag("/images/history/banner1.png", class: "banner") %>
		</li>
	</ul>
</div>