<section id="section_organizers">
	<div class="centering">
		<h3>Organizers</h3>
		<div class="organizers">
			<% @organizergroups.each do |group| %>
				<h4 class="di w100p fl"><%= group.name %></h4>
				<ul class="group">
					<% group.organizers.each do |organizer| %>
						<li class="organizer<%= " nolink" unless organizer.link.present? %>">
							<% if organizer.link.present? %>
								<%= link_to organizer.link do %>
									<span class="name"><%= organizer.name %></span><span class="name_en"><%= organizer.name_en %></span><span class="link"><%= organizer.link.gsub("http://", "") %></span>
								<% end %>
							<% else %>
								<span class="name"><%= organizer.name %></span><span class="name_en"><%= organizer.name_en %></span>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>
	</div>
</section>