<div id="section_programs" class="section">
	<div class="centering">
		<h3>Programs</h3>
		<% room_cnt = "room#{@event.rooms.count}" %>
		<% room_name_row = false %>
		<div class="programs">
			<% @periods.each do |period| %>
				<% unless period.programs.blank? %>
					<% if (period.programs.count > 1) && room_name_row == false %>
						<div class="row rooms">
							<div class="time"></div>
							<% @event.rooms.each do |room| %>
								<div class="title">
									<h4><%= room.name %></h4>
								</div>
							<% end %>
						</div>
						<% room_name_row = true %>
					<% end %>
					<div class="row">
						<div class="time">
							<h4><%= htime(period.starts_at) %></h4>
						</div>
						<% period.programs.each do |program| %>
							<div class="session">
								<div class="title">
									<h4 class="ellipsis">
										<% program.speakers.each do |speaker| %>
											<% if speaker.link.present? %>
												<%= link_to speaker.name, speaker.link %><%= ", " if program.speakers[program.speakers.index(speaker) + 1].present? %>
											<% else %>
												<%= speaker.name %><%= ", " if program.speakers[program.speakers.index(speaker) + 1].present? %>
											<% end %>
										<% end %>
										<%= "_" if program.speakers.present? %><%= program.title %>
									</h4>
								</div>
								<% if program.content.present? %>
									<div class="more_info">
										<div class="header">
											<% program.speakers.each do |speaker| %>
												<% if speaker.link.present? %>
													<%= link_to speaker.name, speaker.link %><%= ", " if program.speakers[program.speakers.index(speaker) + 1].present? %>
												<% else %>
													<%= speaker.name %><%= ", " if program.speakers[program.speakers.index(speaker) + 1].present? %>
												<% end %>
											<% end %>
											<%= "_" if program.speakers.present? %><%= program.title %>
										</div>
										<div class="content"><%= program.content %></div>
									</div>
								<% end %>
							</div>
						<% end %>
					</div>
				<% end %>	
			<% end %>
		</div>
		<p class="program_comment">바캠프 세션은 누구나 발표할 수 있으며 행사 당일 현장에서 최종 확정 됩니다.<br>세션 숫자 파악을 위해 당일 발표를 계획하시는 분은 <a href="mailto://uxcs@uxcamp.co.kr" class="tdu">uxcs@uxcamp.co.kr</a>으로 연락 주시면 도움이 됩니다.<br>단, 이는 미리 파악이 가능한 세션들만 파악을 하기 위함이며
현장 선착순으로도 세션 접수는 가능 합니다.<br>더불어 세션 접수를 현장에서 하실 경우 앞서 말씀드린 바와 같이 선착순으로 접수가 되므로 세션을 배정 받지 못할 수 있는 점 참고 부탁 드립니다.</p>
	</div>
</div>