<%= render 'header' %>
<div id="contents">
	<div id="register">등록하기</div>
	<%= render 'uxcamp' %>
	<%= render 'aboutus' %>
	<%= render 'programs' %>
	<%= render 'speakers' %>
	<%= render 'sponsors' %>
	<%= render 'organizers' %>
	<%= render 'location' %>	
</div>
<%= render 'footer' %>