<%= render 'header' %>
<div id="contents">
	<div class="register_wrap centering">
		<a id="register" href="#">등록하기</a>
	</div>
	<%= render 'uxcamp' %>
	<%= render 'aboutus' %>
	<%= render 'programs' %>
	<!-- <%= render 'speakers' %> -->
	<%= render 'supporters' %>
	<%= render 'organizers' %>
	<%= render 'location' %>	
</div>
<%= render 'shared/footer' %>