<%= render 'header' %>
<div id="contents">
	<%= render 'uxcampseoul' %>
	<%= render 'aboutus' %>
	<%= render 'programs' %>
	<%= render 'speakers' %>
	<%= render 'sponsors' %>
	<%= render 'organizers' %>
	<%= render 'location' %>	
</div>
<%= render 'footer' %>