<%= render 'header' %>
<div id="contents">
	<%= render 'uxcamp' %>
	<div class="curtain"></div>
	<%= render 'aboutus' %>
	<%= render 'programs' %>
	<%= render 'speakers' %>
	<%= render 'supporters' %>
	<%= render 'organizers' %>
	<%= render 'location' %>	
</div>
<%= render 'shared/footer' %>