<%= render 'header' %>
<div id="contents">
	<div id="more_info_shader"></div>
	<div class="register_wrap centering">
		<a id="register" href="http://onoffmix.com/event/23848" target="_blank">등록하기</a>
	</div>
	<%= render 'uxcamp' %>
	<%= render 'aboutus' %>
	<%= render 'programs' %>
	<%= render 'speakers' %>
	<%= render 'supporters' %>
	<%= render 'organizers' %>
	<%= render 'location' %>	
</div>
<%= render 'shared/footer' %>
<div id="dimension"></div>